/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

:root {
  --corGraduacao100: #ebebff;
  --corGraduacao200: #d6d6ff;
  --corGraduacao300: #64649a;
  --corGraduacao400: #5351af;
  --corGraduacao500: #403f82;
  --corGraduacao600: #36356e;
  --corPosGraduacao100: #fff6eb;
  --corPosGraduacao200: #ffedd6;
  --corPosGraduacao300: #a59587;
  --corPosGraduacao400: #d58700;
  --corPosGraduacao500: #7b5029;
  --corPosGraduacao600: #5c3c1f;
  --corExtensao100: #ffebeb;
  --corExtensao200: #ffd6d6;
  --corExtensao300: #c66969;
  --corExtensao400: #910000;
  --corExtensao500: #b45555;
  --corExtensao600: #660000;
  --corEscolaNegocios100: #ebf3ff;
  --corEscolaNegocios200: #d6ebff;
  --corEscolaNegocios300: #7bb4e8;
  --corEscolaNegocios400: #006fd0;
  --corEscolaNegocios500: #4e94d1;
  --corEscolaNegocios600: #00417a;
  --corPrimaria100: var(--corGraduacao100);
  --corPrimaria200: var(--corGraduacao200);
  --corPrimaria300: var(--corGraduacao300);
  --corPrimaria400: var(--corGraduacao400);
  --corPrimaria500: var(--corGraduacao500);
  --corPrimaria600: var(--corGraduacao600);
  --corPreto: #000000;
  --corPreto900: #1f1f1f;
  --corBranco: #ffffff;
  --corBranco100: #ebebeb;
  --corBranco200: #d1d1d6;
  --corAmarelo: #fed500;
  font-family: "Roboto", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: #484848;
}

* {
  outline: none;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

a:link:hover {
  text-decoration: underline;
}

a,
a:visited,
a:hover {
  color: blue;
}

a:active {
  color: red;
}

#menuPrincipal {
  padding-bottom: 200px;
  background-color: var(--corGraduacao300);
  display: flex;
  flex-direction: row;
  height: 150px;
}

#menuPrincipal .branding {
  background-color: var(--corGraduacao500);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative;
  height: 134px;
}

#menuPrincipal .branding img {
  width: 100%;
  height: 60px;
}

#menuPrincipal .branding img.sistemafiep {
  height: 30px;
}

#menuPrincipal .branding::after {
  display: inline-block;
  content: " ";
  position: absolute;
  right: -182px;
  width: 184px;
  height: 134px;
  background: url("/assets/curva-dir.svg") no-repeat;
}

.main {
  transform: translateY(-60px);
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.main h1 {
  font-weight: 100;
}

.split-pane {
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
}

.split-pane .pane {
  padding: 2rem;
  height: 80vh;
  max-height: 520px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.split-pane .pane::-webkit-scrollbar,
.info-pane .info::-webkit-scrollbar {
  display: none;
}

.split-pane .pane h2 {
  font-weight: 300;
}

.split-pane .info-pane {
  width: 75%;
  text-align: justify;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.split-pane .info-pane .info {
  overflow-y: scroll;
}

.split-pane .subscription-pane {
  width: 300px;
  flex-shrink: 0;
  background-color: #403f82;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

.split-pane .subscription, .split-pane .login {
  display: flex;
  flex-direction: column;
}

.attachments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;
}

.attachments .attachment {
  max-width: 200px;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
}

.attachments .attachment .icon {
  margin-bottom: 4px;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.icon.file {
  background-image: url("/assets/icons/Document.svg");
}
.icon.next-white {
  background-image: url("/assets/icons/NextWhite.svg");
}

button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 2px solid transparent;
  font-size: 1rem;
  cursor: pointer;
  color: #484848;
  background-color: #ccc;
  filter: none;
  transition: filter 100ms;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button:hover {
  filter: brightness(1.1);
}

button:active {
  filter: brightness(0.9);
}

button.register {
  color: white;
  background-color: #ea8962;
  width: 100%;
  position: relative;
}

button.register .icon {
  position: absolute;
  right: 16px;
}

button.goToLogin {
  background-color: #403f82;
  color: white;
  border: 1px solid white;
  position: relative;
  margin-top: 2rem;
}

button.goToLogin .icon {
  position: absolute;
  right: 16px;
}

button.goToSubscription {
  background-color: #403f82;
  color: white;
  border: 1px solid white;
  position: relative;
  margin-top: 2rem;
}

button.goToSubscription .icon {
  position: absolute;
  left: 16px;
  transform: rotate(180deg);
}

select,
input[type="text"] {
  border-radius: 6px;
  padding: 0.5rem;
  border: none;
  font-family: inherit;
  background-color: white;
}

select:focus, input[type="text"]:focus {
  background-color: #f0f0f0;
}

.subscription-form, .login-form {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 1rem;
}

.subscription-form label, .login-form label {
  font-size: 0.8rem;
}

.subscription-form .field, .login-form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.4rem;
}

.view.hidden {
  display: none;
}

@media screen and (max-width: 720px) {
  #menuPrincipal .branding {
    width: 100vw;
  }

  #menuPrincipal .branding img {
    width: 50%;
    height: unset;
    max-height: 60px;
  }
  .split-pane {
    flex-direction: column-reverse;
    max-height: none;
  }

  .split-pane .pane {
    max-height: none;
    height: unset;
    width: 100%;
  }
}
