/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

:root {
  --corGraduacao100: #ebebff;
  --corGraduacao200: #d6d6ff;
  --corGraduacao300: #64649a;
  --corGraduacao400: #5351af;
  --corGraduacao500: #403f82;
  --corGraduacao600: #36356e;
  --corPosGraduacao100: #fff6eb;
  --corPosGraduacao200: #ffedd6;
  --corPosGraduacao300: #a59587;
  --corPosGraduacao400: #d58700;
  --corPosGraduacao500: #7b5029;
  --corPosGraduacao600: #5c3c1f;
  --corExtensao100: #ffebeb;
  --corExtensao200: #ffd6d6;
  --corExtensao300: #c66969;
  --corExtensao400: #910000;
  --corExtensao500: #b45555;
  --corExtensao600: #660000;
  --corEscolaNegocios100: #ebf3ff;
  --corEscolaNegocios200: #d6ebff;
  --corEscolaNegocios300: #7bb4e8;
  --corEscolaNegocios400: #006fd0;
  --corEscolaNegocios500: #4e94d1;
  --corEscolaNegocios600: #00417a;
  --corPrimaria100: var(--corGraduacao100);
  --corPrimaria200: var(--corGraduacao200);
  --corPrimaria300: var(--corGraduacao300);
  --corPrimaria400: var(--corGraduacao400);
  --corPrimaria500: var(--corGraduacao500);
  --corPrimaria600: var(--corGraduacao600);
  --corPreto: #000000;
  --corPreto900: #1f1f1f;
  --corBranco: #ffffff;
  --corBranco100: #ebebeb;
  --corBranco200: #d1d1d6;
  --corAmarelo: #fed500;
  font-family: "Roboto", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: #484848;
}

* {
  outline: none;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

a:link:hover {
  text-decoration: underline;
}

a,
a:visited,
a:hover {
  color: blue;
}

a:active {
  color: red;
}

#menuPrincipal {
  padding-bottom: 200px;
  background-color: var(--corGraduacao300);
  display: flex;
  flex-direction: row;
  height: 150px;
}

#menuPrincipal .branding {
  background-color: var(--corGraduacao500);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative;
  height: 134px;
}

#menuPrincipal .branding img {
  width: 100%;
  height: 60px;
}

#menuPrincipal .branding img.sistemafiep {
  height: 30px;
}

#menuPrincipal .branding::after {
  display: inline-block;
  content: " ";
  position: absolute;
  right: -182px;
  width: 184px;
  height: 134px;
  background: url("/assets/curva-dir.svg") no-repeat;
}

.main {
  transform: translateY(-60px);
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.main h1 {
  font-weight: 100;
}

.split-pane {
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row-reverse;
}

.split-pane .pane {
  padding: 2rem;
  min-height: 50vh;
  /*height: 80vh;
  max-height: 520px;*/
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.split-pane .pane::-webkit-scrollbar,
.info-pane .info::-webkit-scrollbar {
  display: none;
}

.split-pane .pane h2 {
  font-weight: 300;
}

.split-pane .info-pane {
  width: 75%;
  text-align: justify;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.split-pane .info-pane .info {
  overflow-y: scroll;
}

.split-pane .subscription-pane {
  width: 300px;
  flex-shrink: 0;
  background-color: #403f82;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

.split-pane .subscription,
.split-pane .login {
  display: flex;
  flex-direction: column;
}

.attachments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;
}

.attachments .attachment {
  max-width: 200px;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
}

.attachments .attachment .icon {
  margin-bottom: 4px;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon.icon-2x {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
}

.icon.file {
  background-image: url("/assets/icons/Document.svg");
}
.icon.next-white {
  background-image: url("/assets/icons/NextWhite.svg");
}
.icon.user {
  background-image: url("/assets/icons/User.svg");
}
.icon.user-white {
  background-image: url("/assets/icons/UserWhite.svg");
}
.icon.prova {
  background-image: url("/assets/icons/DictionaryWhite.svg");
}
.icon.exit {
  background-image: url("/assets/icons/PreviousWhite.svg");
}

button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 2px solid transparent;
  font-size: 1rem;
  cursor: pointer;
  color: #484848;
  background-color: #ccc;
  filter: none;
  transition: filter 100ms;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button:hover {
  filter: brightness(1.1);
}

button:active {
  filter: brightness(0.9);
}

button.register {
  color: white;
  background-color: #ea8962;
  width: 100%;
  position: relative;
}

button.register .icon {
  position: absolute;
  right: 16px;
}

button.login {
  color: white;
  background-color: #ea8962;
  width: 100%;
  position: relative;
}

button.login .icon {
  position: absolute;
  right: 16px;
}

button.goToLogin {
  background-color: #403f82;
  color: white;
  border: 1px solid white;
  position: relative;
  margin-top: 1rem;
}

button.goToLogin .icon {
  position: absolute;
  right: 16px;
}

button.goToSubscription {
  background-color: #403f82;
  color: white;
  border: 1px solid white;
  position: relative;
  margin-top: 2rem;
}

button.goToSubscription .icon {
  position: absolute;
  left: 16px;
  transform: rotate(180deg);
}

select,
input[type="text"] {
  border-radius: 6px;
  padding: 0.5rem;
  border: none;
  font-family: inherit;
  background-color: white;
}

select:focus,
input[type="text"]:focus {
  background-color: #f0f0f0;
}

.subscription-form,
.login-form {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 1rem;
}

.subscription-form label,
.login-form label {
  font-size: 0.8rem;
}

.subscription-form .field,
.login-form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.4rem;
}

.view.hidden {
  display: none;
}

input.hidden {
  display: none;
}

input:not([type="checkbox"]),
textarea,
select {
  background-color: white;
  outline: none;
  margin: 0rem;
  padding: 0.5rem;
  border: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 0px 0px 0px #ccc;
  transition: 200ms box-shadow linear;
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  appearance: none;
  resize: none;
  border-radius: 6px;
}

:is(input:not([type="checkbox"]), textarea, select):focus {
  border-bottom: 1px solid #969696;
  box-shadow: 0px 1px 0px 0px #969696;
}

select {
  appearance: none;
  background-image: url("/assets/ExpandDown.svg");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: calc(100% - 16px) calc(50% + 2px);
}

.socialMediaIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
}

.socialMediaIcons .icon {
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px;
  color: transparent;
  display: inline-block;
  opacity: 0.4;
  transition: opacity 50ms ease-in-out;
  margin: 0 6px;
  font-size: 1px;
  user-select: none;
}

.socialMediaIcons .icon:hover {
  opacity: 0.5;
}

.socialMediaIcons .icon.linkedin {
  background-image: url("/assets/icons/icons8-linkedin.svg");
}

.socialMediaIcons .icon.facebook {
  background-image: url("/assets/icons/icons8-facebook.svg");
}

.socialMediaIcons .icon.instagram {
  background-image: url("/assets/icons/icons8-instagram.svg");
}

.socialMediaIcons .icon.youtube {
  background-image: url("/assets/icons/icons8-youtube.svg");
}

.split-pane.participante .sidebar-pane {
  width: 300px;
  background-color: #403f82;
  display: flex;
  flex-direction: column;
  color: white;
}

.sidebar-pane .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.sidebar-pane .header .icon {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem;
  box-sizing: content-box;
  margin-right: 0.75rem;
  border-radius: 8px;
  flex-shrink: 0;
}

.sidebar-pane .item {
  padding: 0.5rem;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
}

.sidebar-pane .item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-pane .item.exit {
  margin-top: 1rem;
}

.sidebar-pane .item .icon {
  margin-right: 12px;
}

.sidebar-pane .item.disabled {
  opacity: 0.5;
  background-color: transparent !important;
  pointer-events: none;
  text-shadow: 1px 1px #000;
}

.sidebar-pane .header .user-name {
  font-size: 1.25rem;
}

.split-pane.participante  .multiview-pane {
  background-color: white;
  padding: 2rem;
  flex-grow: 1;
}

::selection {
  background: rgb(32, 32, 32);
  color: rgb(200, 200, 200);
}

::-moz-selection {
  background: rgb(32, 32, 32);
  color: rgb(200, 200, 200);
}

button {
  box-shadow: 0 1px 3px rgb(0 0 0 / 4%), 0 1px 2px rgb(0 0 0 / 10%);
}

@media screen and (max-width: 720px) {
  #menuPrincipal .branding {
    width: 100vw;
  }

  #menuPrincipal .branding img {
    width: 50%;
    height: unset;
    max-height: 60px;
  }
  .split-pane {
    flex-direction: column-reverse;
    max-height: none;
  }

  .split-pane .pane {
    max-height: none;
    height: unset;
    min-height: unset;
    width: 100%;
  }
  
  .split-pane.participante .sidebar-pane  {
    width: 100%;
  }
}
